------------------------------
To: World
From: My App
Subject: Hello
Hello world!
------------------------------
To: Some Bro
From: Some Other Bro
Subject: Hey Bro
What's up bro? Camp Crystal Lake is sick, wish you were here, miss you lots. xoxo.
------------------------------
To: World
From: My App
Subject: Goodbye
Goodbye cruel world!
